  /*Conteiner of the game windows*/
  .conteiner{
    display: flex;
  }

  /*Conteiner of the buttons*/
  .buttons{
    display: flex;
  }

  /*Conteiner of Text*/
  html{
      background-color: #381792
      /*background-color: #44206d;*/
  }
  
  /*Conteiner of the ponints and the lines*/
  .dados{
    display: flex;
  }
  
  /*Space between points and lines*/
  .dados div{
    width: 10px;
    height: 1px;
  }

  /*Next piece grid*/
  .mini-grid{
    margin-left: 50px;
    width: 170px;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 2%;
    border-color: silver;

  }
  
  .mini-grid div{
    width: 25px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
  }
  
  /*Main grid*/
  .grid{
    width: 510px;
    height: 510px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 1%;
    border-color: silver
  }
  

  .grid div{
    width: 25px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
  }
  
  /*Collors Pallete*/

  .quadradinho {
    background-color:red;
  }
  
  .magenta{
    background-color: magenta;
  }
  
  .qgreen {
    background-color: darkgreen;
  }
  
  .qred {
    background-color:red;
  }
  
  .qblue{
    background-color: midnightblue;
  }
  
  .qyellow{
    background-color: gold;
  }
  
  .qorange{
    background-color: orange;
  }
  
  .qpurple{
    background-color: purple;
  }
  
  .qbrown{
    background-color: brown;
  }
  
